<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hd.mapper.FrozMapper" >
  <resultMap id="BaseResultMap" type="cn.hd.model.Froz" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="froz_no" property="frozNo" jdbcType="VARCHAR" />
    <result column="froz_tree_no" property="frozTreeNo" jdbcType="VARCHAR" />
    <result column="froz_appr_no" property="frozApprNo" jdbcType="VARCHAR" />
    <result column="froz_appr_amt" property="frozApprAmt" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="crt_time_format" property="crtTimeFormat" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="upd_time_format" property="updTimeFormat" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, froz_no, froz_tree_no, froz_appr_no, froz_appr_amt, crt_time, crt_time_format, 
    upd_time, upd_time_format, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_froz
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_froz
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.hd.model.Froz" >
    insert into t_froz (id, froz_no, froz_tree_no, 
      froz_appr_no, froz_appr_amt, crt_time, 
      crt_time_format, upd_time, upd_time_format, 
      remark)
    values (#{id,jdbcType=VARCHAR}, #{frozNo,jdbcType=VARCHAR}, #{frozTreeNo,jdbcType=VARCHAR}, 
      #{frozApprNo,jdbcType=VARCHAR}, #{frozApprAmt,jdbcType=INTEGER}, #{crtTime,jdbcType=TIMESTAMP}, 
      #{crtTimeFormat,jdbcType=VARCHAR}, #{updTime,jdbcType=TIMESTAMP}, #{updTimeFormat,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.hd.model.Froz" >
    insert into t_froz
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="frozNo != null" >
        froz_no,
      </if>
      <if test="frozTreeNo != null" >
        froz_tree_no,
      </if>
      <if test="frozApprNo != null" >
        froz_appr_no,
      </if>
      <if test="frozApprAmt != null" >
        froz_appr_amt,
      </if>
      <if test="crtTime != null" >
        crt_time,
      </if>
      <if test="crtTimeFormat != null" >
        crt_time_format,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
      <if test="updTimeFormat != null" >
        upd_time_format,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="frozNo != null" >
        #{frozNo,jdbcType=VARCHAR},
      </if>
      <if test="frozTreeNo != null" >
        #{frozTreeNo,jdbcType=VARCHAR},
      </if>
      <if test="frozApprNo != null" >
        #{frozApprNo,jdbcType=VARCHAR},
      </if>
      <if test="frozApprAmt != null" >
        #{frozApprAmt,jdbcType=INTEGER},
      </if>
      <if test="crtTime != null" >
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtTimeFormat != null" >
        #{crtTimeFormat,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTimeFormat != null" >
        #{updTimeFormat,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hd.model.Froz" >
    update t_froz
    <set >
      <if test="frozNo != null" >
        froz_no = #{frozNo,jdbcType=VARCHAR},
      </if>
      <if test="frozTreeNo != null" >
        froz_tree_no = #{frozTreeNo,jdbcType=VARCHAR},
      </if>
      <if test="frozApprNo != null" >
        froz_appr_no = #{frozApprNo,jdbcType=VARCHAR},
      </if>
      <if test="frozApprAmt != null" >
        froz_appr_amt = #{frozApprAmt,jdbcType=INTEGER},
      </if>
      <if test="crtTime != null" >
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtTimeFormat != null" >
        crt_time_format = #{crtTimeFormat,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null" >
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTimeFormat != null" >
        upd_time_format = #{updTimeFormat,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hd.model.Froz" >
    update t_froz
    set froz_no = #{frozNo,jdbcType=VARCHAR},
      froz_tree_no = #{frozTreeNo,jdbcType=VARCHAR},
      froz_appr_no = #{frozApprNo,jdbcType=VARCHAR},
      froz_appr_amt = #{frozApprAmt,jdbcType=INTEGER},
      crt_time = #{crtTime,jdbcType=TIMESTAMP},
      crt_time_format = #{crtTimeFormat,jdbcType=VARCHAR},
      upd_time = #{updTime,jdbcType=TIMESTAMP},
      upd_time_format = #{updTimeFormat,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>