<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hd.mapper.TreeMapper" >
  <resultMap id="BaseResultMap" type="cn.hd.model.Tree" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="tree_name" property="treeName" jdbcType="VARCHAR" />
    <result column="tree_no" property="treeNo" jdbcType="VARCHAR" />
    <result column="up_tree_no" property="upTreeNo" jdbcType="VARCHAR" />
    <result column="appr_no" property="apprNo" jdbcType="VARCHAR" />
    <result column="froz_stat" property="frozStat" jdbcType="VARCHAR" />
    <result column="crdt_stat" property="crdtStat" jdbcType="VARCHAR" />
    <result column="appr_amt" property="apprAmt" jdbcType="INTEGER" />
    <result column="used_amt" property="usedAmt" jdbcType="INTEGER" />
    <result column="enab_amt" property="enabAmt" jdbcType="INTEGER" />
    <result column="froz_amt" property="frozAmt" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="crt_time_format" property="crtTimeFormat" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="upd_time_format" property="updTimeFormat" jdbcType="VARCHAR" />
    <result column="ver_no" property="verNo" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tree_name as treeName, tree_no as treeNo, up_tree_no as upTreeNo, appr_no as apprNo, froz_stat as frozStat, crdt_stat as crdtStat, appr_amt as apprAmt, used_amt as usedAmt,
    enab_amt as enabAmt, froz_amt as frozAmt, crt_time as crtTime , crt_time_format as crtTimeFormat, upd_time as updTime, upd_time_format as updTimeFormat, ver_no as verNo,
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_tree
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_tree
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.hd.model.Tree" >
    insert into t_tree (id, tree_name, tree_no, 
      up_tree_no, appr_no, froz_stat, 
      crdt_stat, appr_amt, used_amt, 
      enab_amt, froz_amt, crt_time, 
      crt_time_format, upd_time, upd_time_format, 
      ver_no, remark)
    values (#{id,jdbcType=VARCHAR}, #{treeName,jdbcType=VARCHAR}, #{treeNo,jdbcType=VARCHAR}, 
      #{upTreeNo,jdbcType=VARCHAR}, #{apprNo,jdbcType=VARCHAR}, #{frozStat,jdbcType=VARCHAR}, 
      #{crdtStat,jdbcType=VARCHAR}, #{apprAmt,jdbcType=INTEGER}, #{usedAmt,jdbcType=INTEGER}, 
      #{enabAmt,jdbcType=INTEGER}, #{frozAmt,jdbcType=INTEGER}, #{crtTime,jdbcType=TIMESTAMP}, 
      #{crtTimeFormat,jdbcType=VARCHAR}, #{updTime,jdbcType=TIMESTAMP}, #{updTimeFormat,jdbcType=VARCHAR}, 
      #{verNo,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.hd.model.Tree" >
    insert into t_tree
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="treeName != null" >
        tree_name,
      </if>
      <if test="treeNo != null" >
        tree_no,
      </if>
      <if test="upTreeNo != null" >
        up_tree_no,
      </if>
      <if test="apprNo != null" >
        appr_no,
      </if>
      <if test="frozStat != null" >
        froz_stat,
      </if>
      <if test="crdtStat != null" >
        crdt_stat,
      </if>
      <if test="apprAmt != null" >
        appr_amt,
      </if>
      <if test="usedAmt != null" >
        used_amt,
      </if>
      <if test="enabAmt != null" >
        enab_amt,
      </if>
      <if test="frozAmt != null" >
        froz_amt,
      </if>
      <if test="crtTime != null" >
        crt_time,
      </if>
      <if test="crtTimeFormat != null" >
        crt_time_format,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
      <if test="updTimeFormat != null" >
        upd_time_format,
      </if>
      <if test="verNo != null" >
        ver_no,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="treeName != null" >
        #{treeName,jdbcType=VARCHAR},
      </if>
      <if test="treeNo != null" >
        #{treeNo,jdbcType=VARCHAR},
      </if>
      <if test="upTreeNo != null" >
        #{upTreeNo,jdbcType=VARCHAR},
      </if>
      <if test="apprNo != null" >
        #{apprNo,jdbcType=VARCHAR},
      </if>
      <if test="frozStat != null" >
        #{frozStat,jdbcType=VARCHAR},
      </if>
      <if test="crdtStat != null" >
        #{crdtStat,jdbcType=VARCHAR},
      </if>
      <if test="apprAmt != null" >
        #{apprAmt,jdbcType=INTEGER},
      </if>
      <if test="usedAmt != null" >
        #{usedAmt,jdbcType=INTEGER},
      </if>
      <if test="enabAmt != null" >
        #{enabAmt,jdbcType=INTEGER},
      </if>
      <if test="frozAmt != null" >
        #{frozAmt,jdbcType=INTEGER},
      </if>
      <if test="crtTime != null" >
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtTimeFormat != null" >
        #{crtTimeFormat,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTimeFormat != null" >
        #{updTimeFormat,jdbcType=VARCHAR},
      </if>
      <if test="verNo != null" >
        #{verNo,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hd.model.Tree" >
    update t_tree
    <set >
      <if test="treeName != null" >
        tree_name = #{treeName,jdbcType=VARCHAR},
      </if>
      <if test="treeNo != null" >
        tree_no = #{treeNo,jdbcType=VARCHAR},
      </if>
      <if test="upTreeNo != null" >
        up_tree_no = #{upTreeNo,jdbcType=VARCHAR},
      </if>
      <if test="apprNo != null" >
        appr_no = #{apprNo,jdbcType=VARCHAR},
      </if>
      <if test="frozStat != null" >
        froz_stat = #{frozStat,jdbcType=VARCHAR},
      </if>
      <if test="crdtStat != null" >
        crdt_stat = #{crdtStat,jdbcType=VARCHAR},
      </if>
      <if test="apprAmt != null" >
        appr_amt = #{apprAmt,jdbcType=INTEGER},
      </if>
      <if test="usedAmt != null" >
        used_amt = #{usedAmt,jdbcType=INTEGER},
      </if>
      <if test="enabAmt != null" >
        enab_amt = #{enabAmt,jdbcType=INTEGER},
      </if>
      <if test="frozAmt != null" >
        froz_amt = #{frozAmt,jdbcType=INTEGER},
      </if>
      <if test="crtTime != null" >
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtTimeFormat != null" >
        crt_time_format = #{crtTimeFormat,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null" >
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTimeFormat != null" >
        upd_time_format = #{updTimeFormat,jdbcType=VARCHAR},
      </if>
      <if test="verNo != null" >
        ver_no = #{verNo,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hd.model.Tree" >
    update t_tree
    set tree_name = #{treeName,jdbcType=VARCHAR},
      tree_no = #{treeNo,jdbcType=VARCHAR},
      up_tree_no = #{upTreeNo,jdbcType=VARCHAR},
      appr_no = #{apprNo,jdbcType=VARCHAR},
      froz_stat = #{frozStat,jdbcType=VARCHAR},
      crdt_stat = #{crdtStat,jdbcType=VARCHAR},
      appr_amt = #{apprAmt,jdbcType=INTEGER},
      used_amt = #{usedAmt,jdbcType=INTEGER},
      enab_amt = #{enabAmt,jdbcType=INTEGER},
      froz_amt = #{frozAmt,jdbcType=INTEGER},
      crt_time = #{crtTime,jdbcType=TIMESTAMP},
      crt_time_format = #{crtTimeFormat,jdbcType=VARCHAR},
      upd_time = #{updTime,jdbcType=TIMESTAMP},
      upd_time_format = #{updTimeFormat,jdbcType=VARCHAR},
      ver_no = #{verNo,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="queryAll" resultType="cn.hd.model.Tree">
    select
    <include refid="Base_Column_List"/>
    from t_tree
  </select>
  <select id="query" resultType="cn.hd.model.Tree" parameterType="BaseConditionVO">
    select
    <include refid="Base_Column_List"/>
    from t_tree
    <where>
      <if test="keywords!=null">
        tree_no like "%"#{keywords}"%"
        or
        appr_no like  "%"#{keywords}"%"
      </if>
    </where>
  </select>


  <select id="selectByTreeNo" resultType="cn.hd.model.Tree" parameterType="String">
    select
    <include refid="Base_Column_List"/>
    from t_tree where tree_no = #{0}
  </select>
</mapper>